/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
  }
  h1{
        position: absolute;
        bottom: 90%;
        left: 45%;
      }
  
  
  /* Andreas text */
  .andreas {
    position: absolute;
    top: 20%;
    left: 20%;
  }
  
  /* Alma*/
  .alma {
    position: absolute;
    top: 20%;
    left: 30%;
  }
  
  /* Ioannis */
  .ioannis {
    position: absolute;
    top: 20%;
    right: 30%;
  }
  
  /* Matin text */
  .matin {
    position: absolute;
    top: 20%;
    right: 20%;
  }
  
  /* Milla text */
  .milla {
    position: absolute;
    top: 20%;
    left: 50%;
    
  }

  a{
    text-decoration: none;
    color: aliceblue;
  }